# Workflow to build the website when a PR is opened
name: Check-Build

on:
    # Runs on pushes targeting the default branch
    pull_request:
        branches: ['main']

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    # Single deploy job since we're just deploying
    build:
        name: build test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                  node-version: lts/*
                  cache: 'npm'
            - name: Install dependencies
              run: npm ci
            - name: Check Formatting
              run: npx prettier --check . # make sure everything is formatted
            - name: Build
              run: npm run build
