# Workflow to build the website when a PR is opened
name: Check Build

on:
    pull_request:
        branches: ['main']
        paths:
            - 'src/**'
            - '*.json' # shared trigger (root)

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    # Single deploy job since we're just deploying
    build:
        name: build test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - uses: ./.github/workflows/node-cache

            - name: Build
              run: npm run build
