# Workflow to check the formatting when a PR is opened
name: Check Format

on:
    pull_request:
        branches: ['main']

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    # Single deploy job since we're just deploying
    format-check:
        name: check formatting
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - uses: ./.github/workflows/node-cache
