# Workflow to run all scrapers and ensure they are working when a PR is opened
name: Check Scraper

on:
    # Runs on pushes targeting the default branch
    pull_request:
        branches: ['main']
        paths:
            - 'scripts/**'
            - '*.json' # shared trigger (root)

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    generate-matrix:
        runs-on: ubuntu-latest
        outputs:
            matrix: ${{ steps.set-matrix.outputs.matrix }}
        steps:
            - uses: actions/checkout@v4

            - id: set-matrix
              run: |
                  json=$(./generate_matrix.sh)
                  echo "matrix=$json" >> $GITHUB_OUTPUT

    test-scraper:
        needs: generate-matrix
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                include: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}

        steps:
            - uses: actions/checkout@v4

            - uses: ./.github/workflows/node-cache

            - name: Run test
              env:
                  SCRAPER: ${{ matrix.path }}
              run: |
                  echo "Running test on: ${{ matrix.name }}"
                  npm run test_scraper
