# Workflow to run all scrapers
name: Run all scrapers

on:
    # Runs on pushes targeting the default branch
    push:
        branches: ['main']
    # Run every day at 7.47 in the morning
    schedule:
        - cron: '47 7 * * *'

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    generate-matrix:
        runs-on: ubuntu-latest
        outputs:
            matrix: ${{ steps.set-matrix.outputs.matrix }}
        steps:
            - uses: actions/checkout@v4

            - id: set-matrix
              run: |
                  json=$(./generate_matrix.sh)
                  echo "matrix=$json" >> $GITHUB_OUTPUT

    scraper:
        needs: generate-matrix
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                include: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}

        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/workflows/node-cache

            - name: Run scraper
              env:
                  SCRAPER: ${{ matrix.path }}
                  DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
                  SUPABASE_PROJECT_ID: ${{ secrets.SUPABASE_PROJECT_ID }}
              run: |
                  echo "Running test on: ${{ matrix.name }}"
                  npx tsx ./scripts/scrapeUpload.ts

    add-tmdb-id:
        needs: scraper
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/workflows/node-cache

            - name: Run get TMDB id
              env:
                  DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
                  SUPABASE_PROJECT_ID: ${{ secrets.SUPABASE_PROJECT_ID }}
                  TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}
              run: npm run get_tmdb_id
